<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>提交Feed</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css" type="text/css" />
    </head>
    
    <body>
        <form class="form-horizontal">
            <fieldset>
                <legend>提交Feed</legend>
                <div class="control-group">
                    <label class="control-label" for="input01">用户名</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="input01">
                        <p class="help-block">管理用户名，将用来验证</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input01">密码</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="input01">
                        <p class="help-block">与管理用户名对应的管理密码</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input01">Feed地址</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="input01">
                        <p class="help-block">请输入正确的Feed地址</p>
                    </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">保存更改</button>
                <button class="btn">取消</button>
            </div>
        </form>
    </body>
</html>